.card{
    background-color: #c7d8ed;
    width:min(400px, 80%);
    margin: 0 auto;
    border-radius:5px;
    border:2px double black;
    padding:15px;
}

.card textarea{
    height: 100px;
}

form {
    margin: 10px;
    width:100%;
}

input, textarea {
    width:calc(100% - 10px); /*부모 요소에서 10px을 뺀 크기*/
    margin:5px;
    padding:5px;
    box-sizing:border-box; /*padding, border의 전체 크기 유지*/
}

button{
    height: 30px;
    width:100%;
    background-color:#6DD66D;
    border-radius:10px;
    font-size:15px;
    font-weight:bold;
}

button:hover{
    background-color:#4BAF4B;
}

.view_card {
    background-color: #c7d8ed;
    border-radius:10px;
    padding:15px;
    font-size:1.25em;
}

.view_card .b_span{
    font-weight: bold;
}

.delete_card{
    background-color: #c7d8ed;
    border-radius:10px;
    padding:15px;
    font-size:1.25em;
}