<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Delete Page</title>
    <link rel="stylesheet" th:href="@{/css/cards.css}">
</head>
<body>
<div class="delete_card">
    <form th:action="@{/boards/delete/{id}(id=${board.id})}" method="post" th:object="${board}">
        <h2>게시글 삭제</h2>

        <label for="password">Password:</label><br>
        <input type="password" id="password" th:field="*{password}" required/><br>

        <!--비밀번호 일치하지 않을 시 오류 메시지 출력-->
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>

        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>