<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h1>게시글 목록</h1>

<table th:if="${!boards.empty}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board:${boards}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.name}"></td>
        <td>
            <a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}"></a>
        </td>
        <!--temporals 사용으로 형식 지정, null 체크로 createdAt 값이 null일 경우 빈 문자열 출력-->
        <td th:text="${board.createdAt != null ? #temporals.format(board.createdAt, 'yyyy-MM-dd') : ''}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${boards.totalPages > 1}">
    <ul>
        <li th:each="i:${#numbers.sequence(1, boards.totalPages)}">
            <a th:href="@{/boards/list(page=${i})}" th:text="${i}"></a>
        </li>
    </ul>
</div>

<a th:href="@{/boards/add}">글쓰기</a>
</body>
</html>